In [8]:
import sys, os
import pandas as pd

sys.path.append('..')
dotenv_path = os.path.join('../.env')

In [9]:
from src.db_connection import get_db_connection

# Establish the database connection
conn = get_db_connection()

# Get a cursor object
cursor = conn.cursor()

# Close the connection
# conn.close()

In [10]:

# Execute the SQL query to select data from the user table
cursor.execute("SELECT * FROM wish_lists")

# Fetch all the rows from the result set
rows = cursor.fetchall()

# Create a pandas DataFrame from the result set
wish_list_df = pd.DataFrame(rows, columns=[col[0] for col in cursor.description])

In [11]:
wish_list_df

,id,product_id,user_id,created_at,updated_at,deleted_at
0,d698ae26-d597-45bb-9cdc-80524e780dc6,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4,14c91afc-5b49-4efc-ac3d-791c8dae9555,2023-10-23 16:55:17.762778,None,NaT
1,192ec67f-cb27-40ed-9e51-e556f6f8d33d,1240fe96-0539-4bff-b27e-ec0b39b010c3,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,2023-10-29 07:52:52.937278,None,NaT
2,0195380b-1f8b-4fbc-99bb-d00b6c96c130,9eecea1d-f763-4be5-bacd-d894ac0404d7,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,2023-10-29 07:52:57.305144,None,NaT
3,2b6d2ca9-9b1b-4b8e-b082-ce0cd871cc30,7af7c574-12e0-4d0e-a030-2721d28271a7,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,2023-10-29 07:53:03.631392,None,NaT
4,740de3aa-5c91-4e6c-b54a-5e395aa57a5e,60efc7c9-7fbe-4565-9903-cb992122d1ca,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,2023-10-29 07:53:07.108951,None,NaT
...,...,...,...,...,...,...
224,8b15c800-8ffa-46e4-9811-c9c0cc4200fe,9eecea1d-f763-4be5-bacd-d894ac0404d7,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,2024-03-09 10:00:18.669930,None,2024-03-09 10:00:19.243551
225,0db2c53c-f357-41c9-90f3-3b6f3379db59,9eecea1d-f763-4be5-bacd-d894ac0404d7,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,2024-03-09 10:06:11.294041,None,2024-03-09 10:06:13.203618
226,844359c3-65bc-49d9-bc74-93c1cf7709b1,96e69db3-f364-4be2-81ac-996e2352d587,86051e4e-0024-4109-878f-34f78a20d01d,2024-03-09 12:16:45.507611,None,2024-03-09 12:16:47.309539
227,8bb1fb8f-e89a-487b-be46-3c12111ac8b4,96e69db3-f364-4be2-81ac-996e2352d587,86051e4e-0024-4109-878f-34f78a20d01d,2024-03-09 12:16:51.536944,None,NaT
228,90558ff9-8cad-4038-8aaf-4ecb6af24af7,9b4f9a11-d013-4999-9afa-72a5fec81c83,a3042536-72cb-413f-97ec-80938cab5677,2024-03-09 12:18:27.071814,None,NaT

In [12]:
missing_values_count = wish_list_df.isnull().sum()
print(missing_values_count)

id              0
product_id      0
user_id         0
created_at      0
updated_at    229
deleted_at    135
dtype: int64

In [13]:
wish_list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          229 non-null    object
 1   product_id  229 non-null    object
 2   user_id     229 non-null    object
 3   created_at  229 non-null    datetime64[ns]
 4   updated_at  0 non-null      object
 5   deleted_at  94 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 10.9+ KB

In [14]:
total_rows = wish_list_df.shape[0]
missing_values_percentage = (wish_list_df.isnull().sum() / total_rows) * 100
print(missing_values_percentage)

id              0.000000
product_id      0.000000
user_id         0.000000
created_at      0.000000
updated_at    100.000000
deleted_at     58.951965
dtype: float64

In [15]:
selected_columns_df = wish_list_df[['id', 'user_id', 'product_id']]
selected_columns_df

,id,user_id,product_id
0,d698ae26-d597-45bb-9cdc-80524e780dc6,14c91afc-5b49-4efc-ac3d-791c8dae9555,0f8b7023-75c7-46cc-a1ba-67c3ddb36be4
1,192ec67f-cb27-40ed-9e51-e556f6f8d33d,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,1240fe96-0539-4bff-b27e-ec0b39b010c3
2,0195380b-1f8b-4fbc-99bb-d00b6c96c130,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,9eecea1d-f763-4be5-bacd-d894ac0404d7
3,2b6d2ca9-9b1b-4b8e-b082-ce0cd871cc30,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,7af7c574-12e0-4d0e-a030-2721d28271a7
4,740de3aa-5c91-4e6c-b54a-5e395aa57a5e,6f0097fd-f90e-47d9-87e6-12c7c86f6fd6,60efc7c9-7fbe-4565-9903-cb992122d1ca
...,...,...,...
224,8b15c800-8ffa-46e4-9811-c9c0cc4200fe,43e9b41d-e7b7-4f6c-a9d2-dc3b0b2b2494,9eecea1d-f763-4be5-bacd-d894ac0404d7
225,0db2c53c-f357-41c9-90f3-3b6f3379db59,179cf772-0e9f-4ea1-8ee8-cf4db255ec8f,9eecea1d-f763-4be5-bacd-d894ac0404d7
226,844359c3-65bc-49d9-bc74-93c1cf7709b1,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
227,8bb1fb8f-e89a-487b-be46-3c12111ac8b4,86051e4e-0024-4109-878f-34f78a20d01d,96e69db3-f364-4be2-81ac-996e2352d587
228,90558ff9-8cad-4038-8aaf-4ecb6af24af7,a3042536-72cb-413f-97ec-80938cab5677,9b4f9a11-d013-4999-9afa-72a5fec81c83

In [17]:

total_rows = selected_columns_df.shape[0]
missing_values_percentage = (selected_columns_df.isnull().sum() / total_rows) * 100
print(missing_values_percentage)

id            0.0
user_id       0.0
product_id    0.0
dtype: float64

In [18]:
# Save the cleaned DataFrame to a CSV file
# Ensure the 'CleanedData' directory exists
folder_path = "CleanedData"
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Specify the full path including the file name
file_path = os.path.join(folder_path, 'cleaned_wish_lists.csv')

# Save the DataFrame
selected_columns_df.to_csv(file_path, index=False)